<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModeloInventadoPractica.Properties.Settings.PracticaMascotasConnectionString"
            connectionString="Data Source=.;Initial Catalog=PracticaMascotas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CadenaBD" value="Data Source=.;Initial Catalog=PracticaMascotas;Integrated Security=True"/>
	</appSettings>
</configuration>